name: Create Release

on:
  push:
    branches: ["master"]

jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - id: extract-changelog
        uses: sean0x42/markdown-extract@v2
        with:
          file: crates/markdown-extract/CHANGELOG.md
          pattern: ${{ github.ref_name }}

      - name: Create release
        uses: softprops/action-gh-release@v1
        with:
          name: Release ${{ github.ref_name }}
          tag_name: ${{ github.ref }}
          body: ${{ steps.extract-changelog.outputs.markdown }}
          token: ${{ secrets.GITHUB_TOKEN }}
          draft: true
